{
    "timeout": 30,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": []
    },
    "logs": {
        "text": "infection.build.log"
    },
    "mutators": {
        "@default": true,
        "@number": true,
    }
}
